/www/bitrix/
!/www/bitrix/components/artorg/
!/www/bitrix/components/bitrix/catalog.export.1c/
!/www/bitrix/components/bitrix/catalog.import.1c/
!/www/bitrix/components/bitrix/catalog.import.hl/
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.log
/www/upload
/urlrewrite.php
/.idea
/www/error_log
/www/upload/art_upload/settings/
/www/.htaccess
/gulp/
/node_modules/
