
.contactList {
  li{
    table{
      td{
        img{
          width : 51px;
          height: 51px;
        }
      }
    }
  }
}

//-------------BEGIN about/delivery/ -------------------//
.information-list {
  .information-list-item {
    .information-item-icon{
      width: 50px;
    }
  }
}
//-------------END about/delivery/ -------------------//