/*BEGIN footer*/
#footer {
  margin-bottom: 85px;
  margin-top:10px;
  @include sm(margin-bottom, 75px);
  @include xs(margin-bottom, 45px);
  #rowFooter #leftFooter{
    background: none;
    ul li {
      border: none;
      line-height: 1.2em;
    }
    .footerRow {
      @include row-flex;
      .column {
        @include col;
        @include size(3);
        @include size-sm(6);
        @include size-xs(12);
        padding: 0;
        margin-bottom: 12px;
      }
    }
    .subscription {
      .wrap {
        @include row-flex;
        padding-top: 15px;
        .subscr-left {
          @include col;
          @include size(10);
          @include size-sm(10);
          @include size-xs(12);
          margin-bottom: 10px;
          .webflow-style-input {
            label span{
              font-size: 16px;
              color: $white;
              padding-right: 5px;
            }
            .wrap-field {
              display: inline;
              input {
                height: 30px;
                width: 200px;
                color: #858585;
                font-size: 15px;
                padding: 0 1%;
                border: none;
                background-color: #cfcdcd;
              }
              button {
                position: relative;
                right: 39px;
                font-size: 18px;
                border: none;
                background-color: #2e2e2e;
                color: #cfcdcd;
                i  {
                  padding: 4px 2px;
                  vertical-align: middle;
                }
                &:hover {
                  cursor: pointer;
                  color: $green;
                }
              }
            }
          }
        }
        .subscr-right {
          @include col;
          @include size(2);
          @include size-sm(2);
          @include size-xs(12);
          display: flex;
          justify-content: center;
          .social {
            display: flex;
            a {
              text-decoration: none;
              font-size: 20px;
              color: $white;
              background-color: #2e2e2e;
              margin: 0 5px;
              border-radius: 8px;
              height: 20px;
              width: 30px;
              text-align: center;
              &:hover {
                color: $green;
              }
            }
          }
        }
      }
    }
    & .copyrighted {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 13px;
      line-height: 1.5em;
      padding-top: 40px;
      .first-line {
        color: $white;
        a  {
          color: $white;
          &:hover {
            color: #27c148;}
        }
      }
      span {
        color: #9f9595;
        a {
          display: inline-block;
          padding: 0;
        }
      }
    }
    .separator {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(86, 86, 86, 0.75), rgba(0, 0, 0, 0));
    }
  }
}
/*END footer*/
@media all and (max-width: 480px)  {
  //subscription
  #leftFooter {
    .column:nth-child(2n),
    .column:nth-child(3){
      display: none;
    }
    .subscription {
      display: none;
    }
  }
  .webflow-style-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrap-field {
      margin-left: 35px;
    }
  }
}