body.index {
  background-color: $white;
}
/*BEGIN top menu*/
#topHeader.color_theme {
    background-color: $white;
    #topMenu, #topService {
        & li a {
            color: $black;
            font-size: 13px;
            font-family: $HelveticaLight;
            letter-spacing: 0.75px;
            &:hover {
                color: $green;
            }
        }
    }
    #topMenu {
        float: none;
        margin: auto;
        width: 400px;
        .selected {
            color: $green;
        }
    }
    #topService {
        .top-auth-register a {
            color: $green;
        }
    }
}
/*END top menu*/

/*BEGIN logo*/
@media all and (max-width: 1300px) {
    #subHeader {
        .limiter {
            #logo{
                width: 250px;
                top: -20px;
                position: relative;
                z-index: 36;
            }
        }

    }
}
/*END logo*/

/*BEGIN search*/
#topSearch1 {
    table {
        width: 100%;
        border-collapse: collapse;
    }
    #topSearchForm {
        margin: 0;
    }
    .searchField {
        width: 390px;
        input[type="text"] {
            height: 30px;
            width: 380px;
            margin-top: 0;
            background: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            border: 0.5px solid $light-gray;
            padding: 0 2%;
            font-size: 14px;
            color: #ccc7c7;
            font-weight: normal;
        }
    }
    .submit {
        position: absolute;
        input[type="submit"] {
            position: relative;
            float: none;
            background: url(../../images/searchNew.png) 0% 50% no-repeat;
            border: none;
            color: transparent;
            cursor: pointer;
            height: 24px;
            width: 24px;
            right: 40px;
            &:hover {
                background-position: -40px 50%;
            }
        }
    }

}
/*END search*/

/*BEGIN callback*/
#headerTools {
  .telephone .icon{
    background: url(../../images/phone.png) 0 0 no-repeat transparent;
    &:hover {
      background: url(../../images/phone.png) -48px 0 no-repeat transparent;
    }
  }
  .tools .telephone .wrap .icon {
    width: 37px;
  }
  /*BEGIN catr*/
  .cart .wrap .icon{
    width: 35px;
    background: url(../../images/cart-new.png) 0 0 no-repeat transparent;
    &.active {
      background: url(../../images/cart-new.png) -40px 0 no-repeat transparent;
      &:hover {
        background: url(../../images/cart-new.png) -40px 0 no-repeat transparent;
      }
    }
  }
    .cart ins.active {
        color: $gray;
    }
  /*END cart*/
}
/*END callback*/

/*BEGIN category menu*/
.menuContainerColor {
  #mainMenuContainer {
    background-color: $gray;
    margin-bottom: 8px;
    .minCatalogButton{
      font-family: $HelveticaLight;
      text-transform: uppercase;
    }
    #mainMenu {
      width: 100%;
      overflow: visible;
      &>li>a {
        text-transform: uppercase;
        &:hover {
          color: $black;
        }
      }
      & li {
        border: none;
        .drop {
          -webkit-box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
          .nextColumn {
            & li {
              margin-top: 10px;
              & a {
                font-family: $HelveticaRegular;
              }
              &>ul>li>a {
                font-family: $HelveticaThin;
                letter-spacing: 1px;
              }
            }
          }
        }
        &:hover {
          background-color: $white;
        }
      }
      .activeDrop>a {
        color: $black;
      }
      .activeDrop:hover {
        -webkit-box-shadow: -1px 0px 10px 1px rgba(94,91,91,0.3);
        -moz-box-shadow: -1px 0px 10px 1px rgba(94,91,91,0.3);
        box-shadow: -1px 0px 10px 1px rgba(94,91,91,0.3);
      }
    }
  }
}
/*END category menu*/

/*BEGIN slider*/

.sliders {
  max-height: 320px;
  @include row-flex;
  margin: 0;
  .item {
    @include col;
    margin: 0;
  }

  .dynamic-slider {
    @include sizeWithoutMargin (8);
    padding-right: 4px;
    #slider {
      max-height: 320px;
      //width: 68%;
      .sliderContent {
        top: 35%;
        .bigText,
        .bigTextColor {
          font-family: $HelveticaMedium;
        }
        .bigTextLightColor {
          font-family: $HelveticaRegular;
        }
        .smallText,
        .bigTextLight {
          font-family: $HelveticaLight;
        }
        .cButton {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
      }
    }
  }
  .static-slider {
    @include sizeWithoutMargin (4);
    max-height: 320px;
    padding-left: 4px;
    & a {
      text-decoration: none;
    }
    .sliderContent {
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .title {
        font-family: $HelveticaRegular;
        font-size: 36px;
        color: $green;
      }
      .descr {
        font-family: $HelveticaLight;
        font-size: 16px;
        color: $white;
        text-align: center;
      }
    }
  }

}
/*END slider*/

/*BEGIN arrow top*/
#upButton.arrow-top {
  background: url(../../images/up3.png) 0 0 no-repeat transparent;
  height: 43px;
  width: 42px;
  bottom: 100px;
  transition: .3s ease-in-out;
  &:hover {
    background-position: 0px -45px;
  }
}
/*END arrow top*/

/*BEGIN new products and hits*/
#homeCatalog, .homeCatalog {
  background-color: $white;
  .title-new-hit p {
    font-size: 24px;
    font-family: $HelveticaLight;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
  }
  .items.productList {
    .product {
      border: none !important;
      .tabloid {
        .markerContainer {
          visibility: hidden;
          .marker {
            font-family: $HelveticaRegular;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            background-color: transparent !important;
            color: $green;
            border: 1px solid $green;
            line-height: normal;
          }
        }
        .name {
          font-family: $HelveticaLight;
        }
        .wrapper-price {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          .dimension p {
            margin: 0;
          }
        }
        .price {
          font-family: $HelveticaMedium;
          font-size: 20px;
        }
      }
      &:hover {
        .markerContainer {
          visibility: visible;
        }
      }
      .getFastView {
        font-family: $HelveticaLight;
      }
      .addCart {
        font-family: $HelveticaRegular;
        font-size: 20px;
        border-radius: 0;
        letter-spacing: 0.5px;
        & i {
          font-size: 17px;
          bottom: 3px;
          position: relative;
          padding-right: 10px;
        }
      }
      .label {
        font-family: $HelveticaLight;
      }
    }
  }
}
/*END new products*/

/*BEGIN fast view*/
#appFastView {
  .appFastViewContainer{

    .appFastViewInformationColumn {
      .addCart {
        border-radius: 0;
      }
    }
  }
}

/*END fast view*/

/*BEGIN marker*/
.marker {
  font-family: $HelveticaRegular;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: transparent !important;
  color: $green !important;
  border: 1px solid $green;
  line-height: normal;
}
/*END marker*/
/*BEGIN shopping-bag*/
.new-bag {
  font-size: 16px;
  bottom: 1px;
  position: relative;
  padding-right: 9px;
}
/*END shopping-bag*/



