#infoAbout{

  padding-bottom: 36px;

  .item {
    height: 100%;
    display: inline-block;
    box-sizing: content-box;
    width: 19%;
    text-align: center;
    margin-right: 10px;
    vertical-align: top;
    &:last-child {
      margin-right: 0px;
    }
  }

  img{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    max-width: 100%;
  }

  .infoAbouthHeader{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  h1{
    text-align: center;
    margin-bottom: 0px;
    font-family: 'robotobold';
    line-height: 50px;
    color: #000000;
  }

  h2{
    text-align: center;
    margin-bottom: 0px;
    font-family: 'robotobold';
    line-height: 50px;
    margin-bottom: -12px;
    margin-top: auto;
    color: #000000;
  }
}

.fontFamilyRobotoboldText{
  font-family: 'robotobold';
}

.sizeText16{
  font-size: 16px;
}

#infoPromo {
  display: block;
  background-color: #f9f9f9;
  .item {
    height: 100%;
    display: inline-block;
    box-sizing: content-box;
    width: 24%;
    img{
      width: 100%;
    }
    margin-right: 10px;
    &:last-child{
      margin-right: 0px;
    }
  }
}

.descriptionTitle{
  position: relative;
}


#topSalesCaption{
  text-align: center;
  background-color: #f3f3f3;
  .topSalesHeader {
    line-height: 50px;
    height: 50px;
  }
  .wrapper {
    max-width: 1480px;
    min-width: 320px;
    margin: auto;
    .items {
      text-align: center;
      overflow: hidden;
      .item {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  p{
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: 'robotobold';
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color: #000000;
    margin-right: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
  }
}
.cItem{
  width: 100%!important;
}
#homeCatalog{
  background-color: #f9f9f9;
  .caption.selected {
    background-color: #f9f9f9;
    text-transform: uppercase;
    font-family: 'robotobold';
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-right: 0px;
  }
  .captionList {
    height: 50px;
  }
  #captionCarousel{
    border: none!important;
    background-color: #f9f9f9!important;
  }
}

#mainMenuContainer {
  .minCatalogButton{
    background-color: #1a1a1a;
  }
}

.topSales #footerTabs{
  background-color: #f3f3f3;
  padding-bottom: 36px;
}

#rightFooter{
  .telephone.footer_right{
    margin-bottom: 11px;
  }
  .email.footer_right{
    margin-bottom: 11px;
  }
}

#footer{
  &.footerLineHidden{
    margin-bottom: 0;
  }
}

#footerLine{
  &.hidden {
    display: none;
  }
  &.miniCart{
    height: 86px;
    .col{
      width: 100%;
    }
    .delivery-container {
      float: left;
      margin-top: 13px;
      width: 20%;
      box-sizing: border-box;
      margin-right: 0;
      text-align: center;
      line-height: 30px;
      text-transform:uppercase;
      color: white;
      &.mark,.mark{
        color: #27c148;
      }
      &.freeDelivery{
        line-height: unset;
      }
    }
    .products-carousel-container{
      float: left;
      height: 80px;
      box-sizing: border-box;
      text-align: -webkit-center;
      width: 60%;
      margin: 0 auto;
    }
  }
  .item.footerCart{
    margin-right: auto;
    width: 20%;
    margin-top: 13px;
    text-align: center;
    float: right;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
  }
}

@-moz-keyframes jiggle {
  0% {
    -moz-transform: rotate(-1deg);
  }
  50% {
    -moz-transform: rotate(1deg);
  }
}

.products-carousel-container .carousel-item {
  box-shadow: none;
  background-color: white;
  margin: 6px 3px;
  border-radius: 13px;
  width: 65px;
  height: 75px;
  transition: height 0.3s ease-in-out;
  img{
    margin: auto;
    max-width:60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover{
    animation: jiggle 0.2s infinite;
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);

    .footer-del-fade-div{
      text-align: right;
      position: absolute;
      z-index: 97;
      width: 100%;
      top: 0;
      cursor: pointer;
      display: block;
      height: 75px;
      border-radius: 20px;
    }
    .footerMiniCartRemoveLink {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      left: -6px;
      top: -6px;
      background: transparent url(../../images/delete_item.png) no-repeat center;
      background-size: 10px;
      border-radius: 20px;
      background-color: #27c148;
    }
  }
}

.itemCart_photo{
    display: inline-block;
  }

/* Arrows */
.slick-prev-arrow,
.slick-next-arrow
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 55%;

  display: block;

  width: 25px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: url(/local/templates/dresscodeV2/components/dresscode/slider/promoSlider/images/slideArrow.png) 0 0 no-repeat transparent;
  background-size: 75px;
  z-index: 22;
  &:hover
  {
    top: 55%;

    width: 25px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    color: transparent;
    outline: none;
    background: url(/local/components/artorg/catalog.top/templates/.default/images/slideArrowSmall.png) 0 0 no-repeat transparent;
    background-size: 75px;
  }
  &.slick-disabled{
    background: url(/local/templates/dresscodeV2/components/dresscode/slider/promoSlider/images/slideArrow.png) 0 0 no-repeat transparent;
    background-size: 75px;
  }
}

.slick-prev-arrow
{
  left: 3px;
}

.slick-next-arrow
{
  right: 3px;
  &, &:hover, &:focus, &:before, &.slick-disabled {
    background-position: 0 -50px;
  }
}

@media (max-width: 1200px) {

  #infoAbout {
    .item {
      width: 18%;
    }
    h2 {
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
  #infoPromo {
    .item {
      width: 24%;
    }
  }
  #footerLine{
    .colFooterCart {
      width: 100%;
    }
  }
}

@media (max-width: 1055px){
  #infoPromo{
    .item {
      width: 23%;
    }
  }
}
@media (max-width: 980px){
  #infoAbout{
    .descriptionTitle{
      display: none;
    }
  }
}
@media (max-width: 950px){
  #footerLine{
    &.miniCart{
      .delivery-container{
        .freeDeliveryLeftStr{
          display: none;
        }
      }
    }
  }
}

@media (max-width: 850px){
  #infoPromo{
    .item {
      width: 48%;
    }
  }
}
@media (max-width: 780px){
  #footerLine{
    &.miniCart{
      .delivery-container.freeDelivery{
        line-height: 30px;
      }
    }
  }
}
@media (max-width: 770px){
  #footerLine{
    &.miniCart{
      .delivery-container{
          display: none;
        }
      .products-carousel-container{
        width: 75%;
        margin-left:10px;
      }
    }
    .item{
      &.footerCart {
        margin-right: 24px;
      }
    }
  }

}

@media (max-width: 728px){
  #footerLine{
    .item{
      &.footerCart {
        line-height: 30px;
      }
    }
  }

}

@media (max-width: 700px){
  #flushFooterCart.flushFooterCartMedia .item:nth-child(1) {
    display: block;
  }
  #footerLine{
    .item{
      &.footerCart {
        margin-right: unset;
      }
    }
  }
}
@media (max-width: 660px) {
  #footerTabs.itemsTopSales {
    display: block;
  }

}

@media (max-width: 600px) {
  #footerLine{
    .item{
      .cart{
        .mark.numProducts{
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 560px){
  #infoAbout{
    .item {
      width: 47%;
    }
  }
  #infoPromo{
    .item {
      width: 47%;
    }
  }
  #footerLine {
    .item {
      &.footerCart {
        line-height: unset;
        .cartLabel {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px){
  #infoAbout {
    .item {
      width: 100%;
    }
  }
  #infoPromo{
    .item {
      width: 100%;
    }
  }
  #footerLine{
    &.miniCart{
      height: 45px;
      line-height: unset;
      .products-carousel-container, .delivery-container{
        display: none;
      }
    }
     .item {
       &.footerCart {
         width: 100%;
         text-align: center;
         .cartLabel {
           display: inline-block;
         }
       }
       .cart{
         .mark.numProducts{
           margin-left: 15px;
         }
       }
     }
  }

}
