#infoAbout{

  padding-bottom: 36px;

  .item {
    height: 100%;
    display: inline-block;
    box-sizing: content-box;
    width: 19%;
    text-align: center;
    margin-right: 10px;
    vertical-align: top;
    &:last-child {
      margin-right: 0px;
    }
  }

  img{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    max-width: 100%;
  }

  .infoAbouthHeader{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  h1{
    text-align: center;
    margin-bottom: 0px;
    font-family: 'robotobold';
    line-height: 50px;
    color: #000000;
  }

  h2{
    text-align: center;
    margin-bottom: 0px;
    font-family: 'robotobold';
    line-height: 50px;
    margin-bottom: -12px;
    margin-top: auto;
    color: #000000;
  }
}

.fontFamilyRobotoboldText{
  font-family: 'robotobold';
}

.sizeText16{
  font-size: 16px;
}

#infoPromo {
  display: block;
  background-color: #f9f9f9;
  .item {
    height: 100%;
    display: inline-block;
    box-sizing: content-box;
    width: 24%;
    img{
      width: 100%;
    }
    margin-right: 10px;
    &:last-child{
      margin-right: 0px;
    }
  }
}

.descriptionTitle{
  position: relative;
}


#topSalesCaption{
  text-align: center;
  background-color: #f3f3f3;
  .topSalesHeader {
    line-height: 50px;
    height: 50px;
  }
  .wrapper {
    max-width: 1480px;
    min-width: 320px;
    margin: auto;
    .items {
      text-align: center;
      overflow: hidden;
      .item {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  p{
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: 'robotobold';
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color: #000000;
    margin-right: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
  }
}
.cItem{
  width: 100%!important;
}
#homeCatalog{
  background-color: #f9f9f9;
  .caption.selected {
    background-color: #f9f9f9;
    text-transform: uppercase;
    font-family: 'robotobold';
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-right: 0px;
  }
  .captionList {
    height: 50px;
  }
  #captionCarousel{
    border: none!important;
    background-color: #f9f9f9!important;
  }
}

#mainMenuContainer {
  .minCatalogButton{
    background-color: #1a1a1a;
  }
}

.topSales #footerTabs{
  background-color: #f3f3f3;
  padding-bottom: 36px;
}

#rightFooter{
  .telephone.footer_right{
    margin-bottom: 11px;
  }
  .email.footer_right{
    margin-bottom: 11px;
  }
}

#footerLine{
  &.miniCart{
    height: 86px;
    .col{
      width: 100%;
    }
    .delivery-container {
      float: left;
      margin-top: 13px;
      width: 20%;
      border-right: 1px solid #ebebeb;
      box-sizing: border-box;
      margin-right: 0;
      text-align: center;
      line-height: 30px;
      text-transform:uppercase;
      color: white;
      &.mark,.mark{
        color: #27c148;
      }
      &.freeDelivery{
        line-height: unset;
      }
    }
    .products-carousel-container{
      //min-width: 80%;
      //margin-left: -230px;
      //padding-left: 230px;
      //margin-right: -180px;
      float: left;
      width: 60%;
      height: 80px;
      overflow-y: visible;
      box-sizing: border-box;
      position: relative;
      text-align: -webkit-center;
    }
  }
  .item.footerCart{
    //padding-right: 60px;
    margin-right: unset;
    width: 20%;
    margin-top: 13px;
    text-align: center;
  }
}

#miniCartFooterCarousel .carousel-item {
  border: 0;
  width: 75px;
  min-width: 75px;
  box-shadow: none;
  background-color: white;
  position: relative;
  height: 75px;
  margin: auto;
  margin-top: 6px;
  img{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  &:hover{
    .footer-del-fade-div{
      background-color: #d9f1f1;
      text-align: right;
      position: absolute;
      z-index: 97;
      width: 100%;
      top: 0;
      opacity: .67;
      cursor: pointer;
      display: block;
      height: 80px;
    }
    .footerMiniCartRemoveLink {
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      right: 5px;
      top: 5px;
      background: transparent url(../../images/delete_item.png) no-repeat center;
      background-size: cover;
    }
  }
}

.miniCartFooterCarouselWrapper{
  max-width: 620px;
  padding: 0 20px 40px 20px;
  margin: auto;
}

.itemCart_photo{
    display: inline-block;
  }

@media (max-width: 1200px) {

  #infoAbout {
    .item {
      width: 18%;
    }
    h2 {
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
  #infoPromo {
    .item {
      width: 24%;
    }
  }
  #footerLine{
    .colFooterCart {
      width: 100%;
    }
    &.miniCart .products-carousel-container{
      margin-right: unset;
    }
  }
}

@media (max-width: 1055px){
  #infoPromo{
    .item {
      width: 23%;
    }
  }
}
@media (max-width: 980px){
  #infoAbout{
    .descriptionTitle{
      display: none;
    }
  }
}
@media (max-width: 850px){
  #infoPromo{
    .item {
      width: 48%;
    }
  }
}
@media (max-width: 730px){
  #footerLine{
    .item{
      &.footerCart {
        width: 70px;
        .cartLabel {
          display: none;
        }
      }
      .cart{
        .mark.numProducts{
          margin-left: unset;
        }
      }
    }
  }
}

@media (max-width: 700px){
  #flushFooterCart.flushFooterCartMedia .item:nth-child(1) {
    display: block;
  }
}
@media (max-width: 660px) {
  #footerTabs.itemsTopSales {
    display: block;
  }

}

@media (max-width: 560px){
  #infoAbout{
    .item {
      width: 47%;
    }
  }
  #infoPromo{
    .item {
      width: 47%;
    }
  }
}

@media (max-width: 480px){
  #infoAbout {
    .item {
      width: 100%;
    }
  }
  #infoPromo{
    .item {
      width: 100%;
    }
  }
  #footerLine{
    &.miniCart{
      .products-carousel-container {
        display: none;
      }
      .delivery-container {
        width: 50%;
      }
    }
     .item {
       &.footerCart {
         width: 50%;
         .cartLabel {
           display: inline-block;
         }
       }
       .cart{
         .mark.numProducts{
           margin-left: 15px;
         }
       }
     }
  }

}
