/*
ПРИМЕРЫ ИСПОЛЬЗОВАНИЯ
1 пример
body.panels_white{
  background-color: red;
}
@include md-block() {
  body.panels_white{
    background-color: green;
  }
}
2 пример
body.panels_white{
  background-color: red;
  @include md('background-color',green)
}
*/

//-----------BEGIN banner--------------//
@media screen and (max-width: 780px){
  #main {
    #slider {
      .slideBox {
        li>span {
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}