/*
ПРИМЕРЫ ИСПОЛЬЗОВАНИЯ
1 пример
body.panels_white{
  background-color: red;
}
@include md-block() {
  body.panels_white{
    background-color: green;
  }
}
2 пример
body.panels_white{
  background-color: red;
  @include md('background-color',green)
}
*/


//---------HEADER---------------//
@media all and (max-width: 1150px){

  #headerLine4 .limiter .subTable .subTableColumn #topSocial{
    display: block;
  }

}

@media all and (max-width: 700px){
  #headerLine4 .subTable .subTableColumn:last-child{
    width: 230px;
  }
}

