.slideStyles{
  .productList{
    & > li {
      .addCart.activeMamaClub {
        margin-left: 3px;
        margin-right: auto;

        width: 92%;
        text-align: center;
        padding: 4px 11px 4px 6px;
        white-space: nowrap;
      }
    }
  }
}



.titleMClub{
  font-size: 24pt;
  color: $lightGreen;
  margin-left: 8px;
  padding-bottom: 5px;
}

.photosMClub {
  background-color: lightblue;
  border-radius: 20px;
  padding: 30px 10px 20px 10px;
    img{
      width: 100%;
    }
  .itemContainer {
    @include row-flex;
    @include justify-content-sm(center);
    .item {
      @include col;
      @include size(3);
      @include size-sm(6);
    }
  }
}

.mClubMainImg{
  position: relative;
  text-align: center;
  color: black;
  width: auto;

  img{
    width: 100%;
  }

  .mclubMainText{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    white-space: nowrap;
    .date{
      color: green;
    }
    .header{
      font-size: 2.5vw;
      color: green;
    }
  }

}

.headerMClub{
  font-size: 4vw;
  color: $lightGreen;
}



