//colors
$white: #ffffff;
$black: #000000;
$green: #27aa41;
$gray: #3d3b3b;

//fonts
$HelveticaThin: "HelveticaLight" , arial , sans-serif;
$HelveticaLight: "HelveticaLight" , arial , sans-serif;
$HelveticaRegular: "HelveticaLight" , arial , sans-serif;
$HelveticaMedium: "HelveticaLight" , arial , sans-serif;
$HelveticaBold: "HelveticaLight" , arial , sans-serif;