//colors
$white: #ffffff;
$black: #000000;
$green: #27aa41;
$gray: #3d3b3b;
$light-gray: #ccc7c7;

//fonts
$HelveticaThin: "HelveticaThin" , arial , sans-serif;
$HelveticaLight: "HelveticaLight" , arial , sans-serif;
$HelveticaRegular: "HelveticaRegular" , arial , sans-serif;
$HelveticaMedium: "HelveticaMedium" , arial , sans-serif;
$HelveticaBold: "HelveticaBold" , arial , sans-serif;