//colors
$white: #ffffff;
$black: #000000;
$green: #27aa41;
$gray: #3d3b3b;
$blue: #338fff;
$lightGrey: #f8f8f8;
$lightGreen : #00a650;
$lighterGreen : #27c148;


//fonts
$MainFontBold: "exo2bold" , arial , sans-serif;
$MainFontMedium: "exo2medium" , arial , sans-serif;
$MainFontRegular: "exo2regular" , arial , sans-serif;
$MainFontLight: "exo2light" , arial , sans-serif;
$MainFontThin: "exo2thin" , arial , sans-serif;