#modalSuccessRegister,#register, .onFlexGrid {
  @import "libs/flexgrid";
}
@import "libs/grid";
@import "libs/FontAwesome/_font-awesome";
@import "libs/align_text";

@import "variables";
@import "modal";
@import "mainPage";
@import "personal";
@import "product";
@import "cart";

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
