@import "libs/_flexgrid";
@import "libs/FontAwesome/_font-awesome";
@import "libs/_slick";
@import "variables";
@import "modal";
@import "mainPage";
@import "personal";


.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
