@import "sass/_variables";
#logo img{
  background-color: #27c148;
}
#infoAbout, #infoPromo1{
  border: 1px solid #b2af9a;
  img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    max-width: 100%;
  }
}


#footerTabsCaption{
  text-align: center;
  .wrapper {
    max-width: 1480px;
    min-width: 320px;
    margin: auto;

    .items {
      text-align: center;
      overflow: hidden;
      .item {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        &:last-chald {
          margin-right: 0px;
        }
      }
    }
  }
  p{
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: 'robotobold';
    text-decoration: none;
    padding-bottom: 8px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #000000;
    margin-right: 0px;
  }
}
.cItem{
  width: 100%!important;
}
#homeCatalog{
  .caption.selected {
    background-color: #f9f9f9;
    a{
      transition: all 0.2s ease-in-out!important;
      text-transform: uppercase!important;
      font-family: 'robotobold'!important;
      text-decoration: none!important;
      padding-bottom: 8px!important;
      font-size: 16px!important;
      text-align: center!important;
      line-height: 50px!important;
      color: #000000!important;
      margin-right: 0px!important;
    }
  }
}

#mainMenuContainer {
  .minCatalogButton{
    background-color: #1a1a1a;
  }
}