@import "sass/libs/flexgrid";
@import "sass/_variables";
@import "sass/modal";
@import "sass/_mainPage";
@import "sass/personal";

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
